<div class="wrapper">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">Browse Consignment</a></li>
		<li><a href="./consignment">Add New Consignment</a></li>
	</ul>
	<div>
		<div id="popDiv" class="ontop">
			<div class="modal-window"></div>
		</div>
		<div class="table-view">
			<div class="row">
				<table class="table table-striped table-condensed">
					<tr>
						<td>#</td>
						<th>
							<div class="relative">
								<app-select-cons-direction ([direction])="direction"></app-select-cons-direction>
								<label class="label-border">Direction</label>
							</div>
						</th>
						<th>
							<div class="relative">
								<input type="text" size="7" placeholder="Consignment ID" ([ngModel])="consId" name="consId"/>
                <label class="label-border">Consignment ID</label>
							</div>
						</th>
						<th>
							<div class="relative">
								<app-select-contractor contractorType="consignor" ([contractor])="consignor"></app-select-contractor>
							  <label class="label-border">Consignor</label>
							</div>
						</th>
						<th style="width: 10%">
							<div class="relative">
                <app-select-contractor contractorType="consignee" ([contractor])="consignee"></app-select-contractor>
                <label class="label-border">Consignee</label>
							</div>
						</th>
						<th>
							<div class="relative">
								<input type="text" size="7" placeholder="Vehicle ID" ([ngModel])="vehicleId" name="vehicleId"/> <label
									class="label-border">Vehicle ID</label>
							</div>
						</th>
						<th class="oper-filters-arrivals" style="width: 8%;">
							<div class="relative">
								<select class="operator">
									<option value="=">=</option>
									<option value="<"><</option>
									<option value=">">></option>
								</select> <input placeholder="Total packages" style="text-align: right;" ([ngModel])="totalPackages" name="totalPackages"/>
                <label class="label-border">Total packages</label>
							</div>
						</th>
						<th class="oper-filters-arrivals" style="width: 8%;">
							<div class="relative">
								<select class="operator">
									<option value="=">=</option>
									<option value="<"><</option>
									<option value=">">></option>
								</select> <input placeholder="Total Gross Weight" ([ngModel])="totalGrossWeight" name="totalGrossWeight"/>
                <label class="label-border">Total Gross Weight</label>
							</div>
						</th>
						<th class="oper-filters-arrivals" style="width: 8%;">
							<div class="relative">
								<select class="operator">
									<option value="=">=</option>
									<option value="<"><</option>
									<option value=">">></option>
								</select> <input placeholder="Total Volume" ([ngModel])="totalVolume" name="totalVolume"/>
                <label class="label-border">Total Volume</label>
							</div>
						</th>
						<th>Actions</th>
					</tr>
					<tr *ngFor="let c of (consignments | consignmentFilter : [direction, consId, consignor, consignee, vehicleId, totalPackages, totalGrossWeight, totalVolume]); let i = index">
						<td>{{ i+1 }}</td>
						<td>{{ c.direction }}</td>
						<td>{{ c.id }}</td>
						<td>{{ c.consignor.name }}</td>
						<td>{{ c.consignee.name }}</td>
						<td>{{ c.vehicleRegNum }}</td>
						<td>{{ c.totalPackages }}</td>
						<td>{{ c.totalGrossWeight }}</td>
						<td>{{ c.totalVolume }}</td>
						<td class="actions">
							<div class="row">
								<div class="col-md-2">
									<button type="button" (click)="open(c.id)"
										title="Open document">
										<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
									</button>
								</div>
								<div class="col-md-2">
									<button type="button" (click)="remove(c.id)"
										title="Delete document">
										<i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
									</button>
								</div>
                <div class="col-md-2">
                  <button type="button" (click)="createCMR(c.id)"
                          title="Create CMR">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-md-2">
                  <button type="button" (click)="createTIR(c.id)"
                          title="Create TIR Carnet">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
							</div>
						</td>

					</tr>

				</table>
			</div>
		</div>
	</div>

	</div>
