
<div class="wrapper">

            <ul class="nav nav-tabs nav-justified">
                <li><a href="./consignments">Browse Consignment</a></li>
                <li class="active"><a href="#">Add New Consignment</a></li>
            </ul>
            <div>
                <form name="myForm" class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">General Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                    	<select>
                                    	<option disabled>Select status</option>
                                    	</select>
                                    
                                        <label>Status</label></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                       <button>+Link Order</button>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select goods holder</option>
                                    	</select>
                                        <label class="label-border  lefted">Goods holder</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select cost payer</option>
                                    	</select>
                                        <label class="label-border lefted">Cost payer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Parties</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select consignor</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select address</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Building"/>
                                        <label class="label-border">Building</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Street"/>
                                        <label class="label-border lefted">Street</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="ZIP"/>
                                        <label class="label-border lefted">ZIP</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="City"/>
                                        <label class="label-border lefted">City</label>
                                    </div>
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select country</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Dispatch customs code</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select consignee</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select address</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Building"/>
                                        <label class="label-border">Building</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Street"/>
                                        <label class="label-border lefted">Street</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="ZIP"/>
                                        <label class="label-border lefted">ZIP</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="City"/>
                                        <label class="label-border lefted">City</label>
                                    </div>
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select country</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select deliver to address</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select address</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Building"/>
                                        <label class="label-border">Building</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Street"/>
                                        <label class="label-border lefted">Street</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="ZIP"/>
                                        <label class="label-border lefted">ZIP</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="City"/>
                                        <label class="label-border lefted">City</label>
                                    </div>
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select country</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select final destination</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Select address</option>
                                    	</select>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Building"/>
                                        <label class="label-border">Building</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="Street"/>
                                        <label class="label-border lefted">Street</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="ZIP"/>
                                        <label class="label-border lefted">ZIP</label>
                                    </div>
                                    <div class="form-group relative">
                                        <input required placeholder="City"/>
                                        <label class="label-border lefted">City</label>
                                    </div>
                                    <div class="form-group relative">
                                       <select>
                                    	<option disabled>Select country</option>
                                    	</select>
                                    	</div>
                                    <div class="form-group relative">
                                        <select>
                                    	<option disabled>Destination customs code</option>
                                    	</select>
                                    </div>
                                </div>
                            </div>
                        	<div class="row">
                        		<div class="col-md-3">
                        			 <label for="dispatchLocation"><input type="checkbox" id="dispatchLocation" value="smtnhg"/>Dispatch location different</label>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-2">
                        			<input placeholder="Dispatch from"/>
                        		</div>
                        		<div class="col-md-2">
                        			<input placeholder="Dispatch city"/>
                        		</div>
                        		<div class="col-md-2">
                        			<input placeholder="Dispatch country"/>
                        		</div>
                        		<div class="col-md-2">
                        			<input type="date" placeholder="Date"/>
                        		</div>
                        	</div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Additional information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input 
                                               placeholder="Vehicle registration number"/>
                                        <label class="label-border">Vehicle registration</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" 
                                               placeholder="Vehicle registration country"/>
                                        <label class="label-border">Vehicle registration country</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select>
                                    	<option disabled>Select transport mode</option>
                                    	</select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input 
                                               placeholder="Active vehicle registration number"/>
                                        <label class="label-border">Active vehicle registration number</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" 
                                               placeholder="Vehicle registration country"/>
                                        <label class="label-border">Vehicle registration country</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select>
                                    	<option disabled>Select transport mode</option>
                                    	</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seals</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select>
                                    	<option disabled>Select delivery terms</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text"
                                               placeholder="Places"/>
                                        <label class="label-border">Places</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select>
                                    	<option disabled>Select release terms</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text"
                                               placeholder="Places"/>
                                        <label class="label-border">Places</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Goods</h3>
                        </div>
                        <div class="panel-body">
                            <div class="good">
                                <div class="row">
                                    <div class="col-md-11">
                                        <label class="index">{{ 'Row #' + (1) }}</label>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="#">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5" placeholder="Marks" required/>
                                            <label class="label-border">Places</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input size="5" placeholder="Description" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Places" required/>
                                            <label class="label-border">Places</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" placeholder="Type" required/>
                                            <label class="label-border">Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Gross Weight" required/>
                                            <label class="label-border">Gross Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Net Weight" required/>
                                            <label class="label-border">Net Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5"  placeholder="Volume" required/>
                                            <label class="label-border">Volume</label>
                                        </div>
                                    </div>
								 </div>
                                

                            </div>
                            <button type="button">Add row</button>
                            <button type="button">Add row from order</button>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Totals</h3>
                        </div>
                        <div class="panel-body">
							<div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5" placeholder="Total goods" required/>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
          
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total places" required/>
                                            <label class="label-border">Places</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total Gross Weight" required/>
                                            <label class="label-border">Gross Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total Net Weight" required/>
                                            <label class="label-border">Net Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5"  placeholder="Total Volume" required/>
                                            <label class="label-border">Volume</label>
                                        </div>
                                    </div>
								 </div>

                        </div>
                    </div>
                    <div class="btns-arrival">
                        <input type="submit" value="Save" ng-disabled="myForm.$invalid">
                        <input type="submit" value="Cancel">
                        <input type="reset" value="Reset">
                    </div>
                </form>
            </div>
</div>
<app-select-demo></app-select-demo>