
<div class="wrapper">

            <ul class="nav nav-tabs nav-justified">
                <li><a href="./consignments">Browse Consignment</a></li>
                <li class="active"><a href="#">Add New Consignment</a></li>
            </ul>
            <div>
                <form name="myForm" class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">General Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                    	<app-select-contractor contractorType="type of consignment" [(ngModel)]="consignment.direction" name="direction"></app-select-contractor>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                       <button>+Link Order</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                       <app-select-contractor [(contractor)]="consignment.goodsHolder"  contractorType="goods holder" [(ngModel)]="consignment.goodsHolder" name="goodsHolder"></app-select-contractor>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group relative">
                                        <app-select-contractor contractorType="cost payer" [(ngModel)]="consignment.costPayer" name="costPayer"></app-select-contractor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Parties</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <app-select-contractor contractorType="consignor" [(ngModel)]="consignment.consignor"></app-select-contractor>
                                    <app-select-address [(ngModel)]="consignment.consignorAddress">Select address</app-select-address>
                                    <app-select-customs [(ngModel)]="consignment.consignorCustoms"></app-select-customs>
                                </div>
                                <div class="col-md-3">
                                    <app-select-contractor contractorType="consignee" [(ngModel)]="consignment.consignee"></app-select-contractor>
                                    <app-select-address [(ngModel)]="consignment.consigneeAddress">Select address</app-select-address>
                                </div>
                                <div class="col-md-3">
	                                <app-select-address [(ngModel)]="consignment.deliveryToCompany">Select address</app-select-address>
                                </div>
                                <div class="col-md-3">
                                   <app-select-address [(ngModel)]="consignment.finalDestination">Select address</app-select-address>
                                   <app-select-customs [(ngModel)]="consignment.finalDestinationCustoms"></app-select-customs>
                                </div>
                            </div>
                        	<div class="row">
                        		<div class="col-md-3">
                        			 <input type="checkbox">Dispatch location different
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-3">
                        			<app-select-address [(ngModel)]="consignment.otherConsignorAddress">Select address</app-select-address>
                        		</div>
                        	</div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Additional information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input placeholder="Vehicle registration number" [(ngModel)]="consignment.vehicleRegNum"/>
                                        <label class="label-border">Vehicle registration</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" placeholder="Vehicle registration country" [(ngModel)]="consignment.vehicleRegCountry"/>
                                        <label class="label-border">Vehicle registration country</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <app-select-transport-mode [(ngModel)]="consignment.vehicleModeOfTransport"></app-select-transport-mode>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input placeholder="Active vehicle registration number" [(ngModel)]="consignment.trailerRegNum"/>
                                        <label class="label-border">Active vehicle registration number</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" placeholder="Vehicle registration country" [(ngModel)]="consignment.trailerRegCountry"/>
                                        <label class="label-border">Vehicle registration country</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <app-select-transport-mode [(ngModel)]="consignment.trailerModeOfTransport"></app-select-transport-mode>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Terms</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <app-select-delivery-terms [(ngModel)]="consignment.deliveryTerms"></app-select-delivery-terms>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text"
                                               placeholder="Places"/>
                                        <label class="label-border" [(ngModel)]="consignment.deliveryTermsPlaces">Places</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <app-select-release-terms [(ngModel)]="consignment.releaseTerms"></app-select-release-terms>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" placeholder="Places" [(ngModel)]="consignment.releaseTermsPlaces"/>
                                        <label class="label-border">Places</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Goods</h3>
                        </div>
                        <div class="panel-body">
                            <div class="good" *ngFor="let row of consignment.goodsInConsignment; let i = index;">
                                <div class="row">
                                    <div class="col-md-11">
                                        <label class="index">{{ 'Row #' + (i + 1) }}</label>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-times" aria-hidden="true" (click)="deleteRow(i)"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-md-1">
                                        <div class="form-group">
                                            <app-select-good [(ngModel)]="row.good"></app-select-good>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5" placeholder="Description" [(ngModel)]="row.description" disabled/>
                                            <label class="label-border">Description</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5" placeholder="Marks" [(ngModel)]="row.marks" required/>
                                            <label class="label-border">Marks</label>
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Places" [(ngModel)]="row.places" required/>
                                            <label class="label-border">Places</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <app-select-unit [(ngModel)]="row.placeType"></app-select-unit>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Gross Weight" [(ngModel)]="row.grossWeight" required/>
                                            <label class="label-border">Gross Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Net Weight" [(ngModel)]="row.netWeight" required/>
                                            <label class="label-border">Net Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5"  placeholder="Volume" [(ngModel)]="row.volume" required/>
                                            <label class="label-border">Volume</label>
                                        </div>
                                    </div>
								 </div>


                            </div>
                            <button type="button" (click)="addRow($event)">Add row</button>
                            <button type="button">Add row from order</button>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Totals</h3>
                        </div>
                        <div class="panel-body">
							<div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5" placeholder="Total goods" disabled/>

                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total places" disabled/>
                                            <label class="label-border">Places</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total Gross Weight" disabled/>
                                            <label class="label-border">Gross Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="6" class="numeric" placeholder="Total Net Weight" disabled/>
                                            <label class="label-border">Net Weight</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input size="5"  placeholder="Total Volume" disabled/>
                                            <label class="label-border">Volume</label>
                                        </div>
                                    </div>
								 </div>

                        </div>
                    </div>
                    <div class="btns-arrival">
                        <input (click)="submit($event)" type="submit" value="Save" ng-disabled="myForm.$invalid">
                        <input type="submit" value="Cancel">
                        <input type="reset" value="Reset">
                    </div>
                </form>
            </div>
</div>
