<div mat-dialog-content>
  <table class="table table-striped table-condensed">
    <tr>
      <td>#</td>
      <th>
        <div class="relative ui-float-lable">
            <input pInputText size="7" id="goodId"/>
            <label for="goodId">Good Id</label>
        </div>
      </th>
    </tr>
    <tr *ngFor="let g of data.goods; let i=index;" (click)="setClickedRow(i, g)" [class.active]="selectedRows.indexOf(i) > -1">
      <td>{{ i + 1 }}</td>
      <td>{{ g.id }}</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()">No Thanks</button>
  <button [disabled]="!(data.chosenGoods.length > 0)" [mat-dialog-close]="data.chosenGoods">Ok</button>
</div>
